body {
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(241,65,74,1) 100%);
  font-family: Arial black;
  height:100vh;
}
p {
  font-size:15px;
}
h4 {
  font-size:18px;
}
.main-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.container {
  position:relative;
  width:800px;
  height:800px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
/*   border: solid 4px blue; */
}
#video-tv{
  width:600px;
  height:600px;
  position:absolute;
  z-index：-1;
}

#video {
  margin-top:-15px;
  z-index:1;
  position:relative;
  width:432px;
  height:243px;
  transform: translateY(100px);
}

.home {
  margin:15px;
  bottom:0;
  right:0;
  position:fixed;
}
a:link {
  color: black;
  cursor: url("https://cdn.glitch.com/9ec7c44a-4bb7-48dc-8c35-7314cb1d563f%2Fcursor.svg?v=1603336085791"), auto;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: orange;
}
.conan {
  position: fixed;
  -webkit-animation: image 5s linear 2s infinite alternate; 
  animation: image 5s linear 0s infinite alternate;
}

@-webkit-keyframes image {
  0%   {right:30px; bottom:-200px;}
  25%  {right:30px; bottom:-200px;}
  50%  {right:30px; bottom:-20px;}
  75%  {right:30px; bottom:-20px;}
  100% {right:30px; bottom:-200px;}
}

@keyframes image {
  0%   {right:30px; bottom:-200px;}
  25%  {right:30px; bottom:-200px;}
  50%  {right:30px; bottom:-20px;}
  75%  {right:30px; bottom:-20px;}
  100% {right:30px; bottom:-200px;}
}
