body {
  background-color:white;
  font-family: Arial black;
  color:green;
}
p {
  font-size:15px;
}
h4 {
  font-size:18px;
}
.main-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.container {
  position:relative;
  width:800px;
  height:800px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
/*   border: solid 4px blue; */
}
#video-tv{
  width:600px;
  height:600px;
  position:absolute;
  z-index：-1;
}

#video {
  margin-top:-15px;
  z-index:1;
  position:relative;
  width:432px;
  height:243px;
  transform: translateY(100px);
}

.home {
  margin:15px;
  bottom:0;
  right:0;
  position:fixed;
}
a:link {
  color: green;
  cursor: url("https://cdn.glitch.com/9ec7c44a-4bb7-48dc-8c35-7314cb1d563f%2Fcursor.svg?v=1603336085791"), auto;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

.sazaesan {
  position: fixed;
  bottom:0;
  right:40px;
  -webkit-animation: image 5s linear 2s infinite alternate; 
  animation: rotation 5s linear 0s infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 2s infinite linear;
}
