/* CSS files add styling rules to your content */

body {
  background-color: white;
}
.TVContainer {
  display: flex;
  flex-direction: coloumn;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  padding: 20px;
  margin: 30px;
}
.Container {
  display: flex;
  width: 100%;
  margin: 10px;
  flex-direction: row;
  justify-content: space-around;
}
.TVleft1 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVleft1:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftvred.png?v=1604537094891");
  background-repeat:space;
  background-size: 200px 200px;
}
.TVleft2 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVleft2:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftvpink.png?v=1604578118631");
  background-repeat:space;
  background-size: 200px 200px;
}
.TVleft3 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVleft3:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftvblue1.png?v=1604578352201");
  background-repeat:space;
  background-size: 200px 200px;
}
.TVright1 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVright1:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftvgreen.png?v=1604578472574");
  background-repeat:space;
  background-size: 200px 200px;
}
.TVright2 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVright2:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv2.png?v=1604534569047");
  background-repeat:space;
  background-size: 200px 200px;
}
.TVright3 {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftv1.png?v=1604534565764")
    no-repeat;
}
.TVright3:hover {
  background-image: url("https://cdn.glitch.com/10f0edb6-04b0-48d4-be1c-1c69aada9d01%2Ftvyellow.png?v=1604578477930");
  background-repeat:space;
  background-size: 200px 200px;
}
